
.noto-sans-kr-<uniquifier> {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.card-list {
    background-color: #f6f6f6;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    padding: 20px 30px 46px 30px;
    width: 60%;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 40px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.27);
    transition: transform 0.3s;
    font-family: Noto Sans KR;
    font-weight: 900;
    color: #222222;
    position: relative;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px); /* 마우스 올리면 살짝 떠오르는 효과 */
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.content h3 { margin: 0 0 10px 0; }
.card_min_text {
    font-size: 12px;
    font-weight: 300;
}

.content {
}
